@import url('https://fonts.googleapis.com/css2?family=Playwrite+IE+Guides&display=swap');

.playwrite-ie-guides-regular {
    font-family: "Playwrite IE Guides", serif;
    font-weight: 400;
    font-style: normal;
  }
  