@import url("fonts/roboto.css");
@import url("fonts/lindo.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* alt shit arrow down == copy line and paste it below */

  /* app styles */
  .app
  {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
  }

  .resume-and-accordion
  {
    display: flex;
    flex-direction: row;
  }

  .resume-section
  {
    width: 100%;
  }

  .resume-header
  {
    width: 100%;
    height: 50px;
    background-color: green;
  } 
  .accordion
  {
    display: flex;
    flex-direction: column;
  }

  