.container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 170px 1fr;
  grid-template-areas:
    "sidebar navbar"
    "sidebar main";
  height: 100vh;
}

.nav
{
  grid-area: navbar;
  z-index: 2;        
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.sidebar {
  grid-area: sidebar;
  background: #1992d4;
}
.main {
  grid-area: main;
  background: #e2e8f1;
}
